<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">New customer wizard</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div style="margin:3%">
          <customer-form [formOptions]=customerFormOptions ></customer-form>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <div class="col"></div>
  </div>
</div>
