<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <p class="d-block text-white">Alexander Pierce</p>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview" *ngIf="role === 'admin' || role === 'view'">
            <a routerLink="/dashboard" (click)="clickNav('dashboard')" [ngClass]="dashboardClass?'active':''" class="nav-link" >
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item"  [ngClass]="{'menu-open':menu.alerts}" *ngIf="role === 'admin' || role === 'view'">
            <a  class="nav-link" (click)="clickNav('alerts')" [ngClass]="alertClass?'active':''">
              <i class="nav-icon fas fa-user-friends"></i>
              <p>
                Alerts
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/alert-watch" (click)="clickNav('alerts')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Alert watcher</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item"  [ngClass]="{'menu-open':menu.customres}" *ngIf="role === 'admin' || role === 'view'">
            <a  class="nav-link" (click)="clickNav('customres')" [ngClass]="customerClass?'active':''">
              <i class="nav-icon fas fa-user-friends"></i>
              <p>
                Customers
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/new-customer" (click)="clickNav('customres')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Add Customer</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/manage-customers" (click)="clickNav('customres')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Manage Customers</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" [ngClass]="{'menu-open':menu.properties}" *ngIf="role === 'admin' || role === 'view'">
            <a  class="nav-link" (click)="clickNav('property')" [ngClass]="propertyClass?'active':''">
              <i class="nav-icon fas fa-city"></i>
              <p>
                Properties
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/add-property" (click)="clickNav('property')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-clinic-medical nav-icon"></i>
                  <p>Add Property</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/manage-properties" (click)="clickNav('property')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-gopuram nav-icon"></i>
                  <p>Manage Properties</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" [ngClass]="{'menu-open':menu.devices}">
            <a class="nav-link" (click)="clickNav('device')" [ngClass]="deviceClass?'active':''">
              <i class="nav-icon fas fa-laptop-house"></i>
              <p>
                Devices
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/add-device" (click)="clickNav('device')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-laptop-code nav-icon"></i>
                  <p>New Device</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/manage-devices" (click)="clickNav('device')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-list-ol nav-icon"></i>
                  <p>Manage Devices</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item menu-open" *ngIf="role === 'admin'">
            <a class="nav-link" (click)="clickNav('user')" [ngClass]="userClass?'active':''">
              <i class="nav-icon fas fa-laptop-house"></i>
              <p>
                Users
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/add-user" (click)="clickNav('user')" class="nav-link" routerLinkActive="active">
                  <i class="fas fa-laptop-code nav-icon"></i>
                  <p>New User</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview" (click)="logout()">
            <a class="nav-link">
              <i class="far fa-power-off nav-icon"></i>
              <p>Log out</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
